body
{
    background-color:aquamarine;
}
h1
{

    color:blueviolet;
    background-color: orange;
}

#showsketch
{
    float:right;
}

canvas
  {
    border:5px solid black;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;

  }
@keyframes example {

    from {box-shadow: 1px 1px 38px black}
    from {box-shadow: 1px 1px 38px white}

}
p
   {
     padding-top:10px;
     font-size:25px;
   }